/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed:100,300,400,600,700');
 body {
  font-family: 'Ubuntu Condensed'!important;
  font-size: 22px!important;
  font-weight: 600;
}

.navbar,h1,h2,h3,h4,h5 {
  text-transform: uppercase;
}




