<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Contact Me</h1>
      <h5><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:yourmediasoft@gmail.com?Subject=Hello%20again" target="_top">yourmediasoft@gmail.com</a></h5>
      <h5><i class="fa fa-github-alt" aria-hidden="true"></i> <a href="https://github.com/DanielArturoAlejoAlvarez?tab=repositories/">https://github.com/DanielArturoAlejoAlvarez?tab=repositories/</a></h5>
      <h5><i class="fa fa-link" aria-hidden="true"></i> <a href="http://danapps.herokuapp.com/">http://danapps.herokuapp.com/</a></h5>
    </div>
  </div>
</div>
